@import "../CSS/root.css";
@import "../CSS/buttons.css";

body{
    background-color: var(--primary-color);
    height: 100%;
    display: flex;
    flex-direction: column
}

main{
    flex: 1;
}

/* SEARCH FIELD: */
/* where both SEARCHFIELD AND BAR ARE CONTAINED */
#search-container{
    border: 1px solid black;
    width: 80%;
    height: 5vh;
    margin: auto;
    display: flex;

    border-radius: 0 5px 5px 0;
    border: none;
}

/* FOR THE INPUT FIELD */
#search-container input{
    width: 90%;
    font-size: 2vw;
}

/* SEARCH BAR */
#search-container button{
    background-color: var(--secondary-color);
    color: white;
    width: 10%;
    border-radius: 0 5px 5px 0;

    font-size: 1.5vw;
    text-align: center;
    padding: 0;
}
#search-container button {
    background-color: #031716;
}


/* WHITE CONTAINER BELOW */
#nearest-farms-content{
    width: 80%;
    height: auto;
    background-color: white;
    margin: auto;
    padding: 10px;
    border: 1px solid grey;
}

