@import "../root.css";
@import "../buttons.css";

body{
    background-color: var(--primary-color);
}

h1{
    text-align: center;
}

form{
    background-color: var(--secondary-color);
    box-shadow: 10px 10px 8px rgb(60, 59, 59);
    color: white;
    width: 60%;
    border-radius: 10px;
    margin: auto;
    padding: 20px;

    font-size: 2vw;
}

table{
    width: 100%;
    border-spacing: 10px;
}

input{
    font-size: 2vw;
    width: 98%;
}
select{
    font-size: 2vw;
    width: 100%;
}

.submit-button-container{
    text-align: center;
}

.update-button{
    width: auto;
    padding: 5px;
    border-radius: 8px;
}

